.br-mb {
    display: none;
    @include mobile { display: block; }
}
.sc-visual {
    position: relative;
    height: 100vh;

    .inner { position: relative; height: 100vh; }
    
    .bg-video { 
        position: absolute;
        top: 50%; transform: translateY(-50%);
        width: 100%; height: 100%;
        object-fit: cover
    }
    .text-box {
        @include positionCenter;
        width: 100%;
        font-size: min(8vw, 100px);
        letter-spacing: 0em;
        line-height: 1.2em;
        font-weight: 200;
        @include mobile { font-size: 12.4vw; }

    .visual-oh { 
        display: block; 
        position: relative; 
        overflow: hidden; 
        text-align: center;  
    }
    .visual-oh .text { display: block; transform: translateY(100%); }
    }
}

.sc-brand {
    .group-brand {
        @include flexVerticalCenter;
        height: 100vh;
        @include mobile {
            align-items: flex-end;
            padding-bottom: 60px;
        }

        &.brand1 {
            @include bg('../images/home_rozy.png');
            background-color: #13374B;
            background-position: top right;
            background-size: cover;
        }
        &.brand2 {
            @include bg('../images/home_hogonheil.png');
            background-color:#B0CFD4;;
            background-position: bottom left;
            background-size: contain;
        }
        &.brand3 {
            @include bg('../images/home_ryuid.jpg');
            background-color:#E1ECED;;
            background-position: bottom right;
            background-size: contain;
            color: $color-black;
        }
        &:nth-child(2n+1){
            justify-content: end;
            text-align: right;
            @include tablet {
                justify-content: flex-start;
                text-align: left;
            }
        }
        .eng {
            @include fontSet($font-size-lg3);
            font-weight: 400;
        }
        .kr {
            @include fontSet($font-size-md2);
            font-weight: 600;
            margin-top: 20px;
        }
    }
}

.sc-intro {
    width: 100%;
    background-color: $color-black;

    .group-intro {
        @include flexVerticalCenter;
        height: 480px;
        overflow: hidden;
        @include tablet {
            height: 100%;
            flex-direction: column;
        }

        .column {
            display: flex;
            flex-direction: column;
            width: 50%; 
            height: 100%;
            @include tablet { width: 100%; }
        }
        .column.right { 
            @include flexHorizonCenter;
            padding: 7vw;
        }
        .img-area {
            position: relative;
            overflow: hidden;
            height: 100%;
        }
        .bg {
            position: absolute;
            top: 0; left: 0;
            width: 102%;
            height: 100%;
            background: #000;
            z-index: 2;
        }
        .img-box {
            position: absolute;
            top: 0; right: 0;
            width: 100%; height: 100%;
            @include tablet {
                position: static;
            }
        }
        .img-area img {
            display: block;
            width: 100%; height: 100%;
            object-fit: cover;
        }
        .text-area {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .title {
            @include fontSet($font-size-lg1);
            font-weight: 600;
        }
        .title-desc {
            @include fontSet($font-size-md1);
            font-weight: 600;
        }
        .desc {
            @include fontSet($font-size-sm1);
            font-weight: 600;
            line-height: 1.6em;
        } 
    }
    .group-intro:nth-child(2n+1) {
        flex-direction: row-reverse;
        @include tablet { flex-direction: column; }

        .img-area .img-box {
            position: absolute;
            top: 0; left: 0;
            @include tablet { position: static; }
        }
        .bg { left: inherit; right: 0; }
    }
}

// headline
.headline { 
    @include fontSet($font-size-lg2);
    font-weight: bold;
}

.sc-project {
    .wrap {
        display: flex;
        height: 100vh;
        background-color: $bg-color-dark-1;
        overflow-x: hidden;
        @include tablet {
            flex-direction: column;
            height: auto;
        }
    }
    .group-list {
        @include flexVerticalCenter;
        @include imgAfter;
        @include imgHover;
        position: relative;
        width: 50%;
        @include tablet { width: 100%; }

        &.title {
            height: 100%;
            @include tablet { padding: 100px 0; }

            .text-box { position: static; transform: none}
        }
        .text-box {
            @include positionVerticalCenter;
            @include inner;
            display: flex;
            flex-direction: column;
            align-items: start;
            z-index: 2;
            @include tablet {
                padding: 0 20px;
                width: 100%;
            }
        }
        .img-area {
            position: relative;
            overflow: hidden;
            width: 100%; height: 100vh;
        }
        .bg {
            position: absolute;
            top: 0; right: 0;
            width: 102%;
            height: 100%;
            background: #000;
            z-index: 2;
        }
        .img-box {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
        }
        .img-area video, .img-area img {
            display: block;
            width: 100%; height: 100%;
            object-fit: cover;
        }
        img { object-position: center 20%; }
        a {
            @include fontSet($font-size-md1);
            @include linkHover;
            font-weight: 600;

            position: relative;
        }
        .word { 
            font-size: $font-size-sm3; 
            margin-bottom: 1.2em;
            font-weight: bold;
        }
    }
}

.sc-news {
    background-color: $color-black;
    padding-top: 130px;
    padding-bottom: 180px;

    .headline { padding-bottom: 100px; }
    .news-item {
        @include flexVerticalCenter;
        @include imgHover;
        position: relative;
        height: 320px;
        border-top: 1px solid #444;
        @include tablet {
            height: auto;
        }

        &:hover .img-area::after {
            visibility: inherit;
            opacity: 0.6;
        }
        .link-view::after {
            position: absolute;
            content: '';
            bottom: 0 ; left: 0;
            display: inline-block;
            background-image: linear-gradient(#fff, #fff);
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 100% 1px;
            width: auto; height: 2px;
        }
        &:hover .link-view:hover::after {
            text-decoration: underline;
            text-underline-position: under;
            transform: scaleX(100%);
        }

        &:last-child { border-bottom: 1px solid #444; }
    }
    .img-area {
        @include imgAfter;
        position: relative;
        width: 320px;
        height: 100%;
        transition: 0.4s;
        @include tablet { 
            width: 100%;
            height: auto;
            padding-bottom: 100%;
        }
        
        img { 
            object-fit: cover; 
            width: 100%; 
            height: 100%; 
            @include tablet {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .btn-area { text-align: center; }
    .text-area {
        @include flexVerticalCenter;
        position: absolute;
        width: 100%;
        padding: 0 20px;
        z-index: 20;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }

        .date-box { width: 350px; }
        .date { 
            font-size: $font-size-sm1;
            font-weight: bold; 
            font-family: Pretendard, sans-serif; 
        }
        .title-box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 1;
        }
        .cate {
            font-size: $font-size-sm3;
            display: block;
            color: $color-white;
            margin-bottom: 8px;
        }
        .link-view { 
            @include fontSet($font-size-md1);
            font-weight: 600;
            position: relative;
        }
        .link-view .title {
            display: inline;
            position: relative;
            background-size: 0% 0.07em;
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(#fff, #fff);
            transition: background-size 0.4s ease;
        }
        .link-view .title:hover {
            background-size: 100% 0.07em;
            background-position: 0% 100%;
        }
    }
}
