.btn-scroll {
    @include positionHorizonCenter;
    @include flexCenter;
    @include btnHover;
    bottom: 5%;
    width: 80px; height: 80px;
    border: 1px solid $color-white;
    border-radius: 50%;
    font-size: $font-size-body4;
    z-index: 10;
    font-weight: bold;
    cursor: none;
    pointer-events: fill;
    @include tablet { cursor: pointer; }
    @include mobile {
        width: 64px;
        height: 64px;
    }
    &:hover { 
        border: transparent; 
        @include tablet { border: 1px solid $color-white; }
    }
}

.link-more {
    @include btnHover;
    position: relative;
    display: inline-block;
    padding: 18px 42px;
    border-radius: 96px;
    font-size: $font-size-body4;
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid #fff;
    z-index: 11;
    &:hover {
        cursor: none; 
        @include tablet { cursor: pointer; }
    }
}
